<div class="topnav" id="myTopnav">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
     <a href="{{url_for('showLanding')}}">Welcome</a>
     <a href="{{url_for('showHome')}}">Home</a>
     <a href="{{url_for('about')}}">About</a>
     <a href="{{url_for('contact')}}">Contact</a> 
              {% if 'username' not in session %}
              <a href="{{url_for('showLogin')}}">Login</a>
              {% else %}
              <a href="{{url_for('showUser', username=session['username'], email=session['email'])}}">{{session['username']}}</a></li>
              <a href="{{url_for('gdisconnect')}}">Logout</a>
              {% endif %}   
     <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += "responsive";
    } else {
        x.className = "topnav";
    }
}
</script>